@font-face {
  font-family: "Avenir";
  src: url("./src/avenir-font/avenirbook.ttf") format("truetype");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: var(--font-color);
}

:root {
  --bg-color: #f0f0f0;
  --main-color: #5800e6;
  --main-color-dark: #3f00a5;
  --gradient-color: linear-gradient(
    180deg,
    var(--main-color),
    var(--main-color-dark)
  );
  --font-color: #464646;
}

body {
  font-family: "Avenir", sans-serif;
  background-color: var(--bg-color);
}

/* Header */

header {
  position: relative;
  background: var(--gradient-color);
  padding: 60px;
  border-radius: 0 0 20% 20%;
  box-shadow: 0px 0px 5px #2c2c2c;
}

header h1 {
  text-align: center;
  color: #f0f0f0;
  font-weight: 300;
  letter-spacing: 2px;
  font-size: 2.5rem;
}

main {
  margin: 35px 0;
  display: flex;
  justify-content: center;
  gap: 35px;
}

/* BMI section */

.card-container {
  border-radius: 15px;
  padding: 15px;
  position: relative;
  margin-bottom: 25px;
  box-shadow: 0px 0px 5px #2c2c2c;
}

.card-container > label,
.card-container > span {
  font-size: 1.2rem;
  margin-bottom: 7px;
}

input[type="number"] {
  font-size: 1rem;
  text-align: center;
  outline: none;
  background: none;
  border: none;
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

#gender-container,
.ipt-number-container {
  display: flex;
  justify-content: space-between;
}

/* Plus and minuns button */

.btn-ipt-num {
  padding: 5px 12px;
  font-weight: 700;
  font-size: 1.3rem;
  border: none;
  cursor: pointer;
  color: #0057fa;
}

/* Gender*/

.avatar-container {
  position: relative;
  border: 2px solid #909090b9;
  border-radius: 15px;
  transition: 0.35s ease;
}

.gender-select {
  display: grid;
  justify-items: center;
  width: 80px;
  padding: 10px;
}

.avatar-container.active {
  border: 2px solid var(--main-color);
  background-color: var(--main-color);
}

.avatar-container.active label {
  color: #f0f0f0;
}

.avatar-container.active svg {
  fill: #f0f0f0;
}

.gender-select svg {
  margin-bottom: 5px;
}

.avatar-container input[type="radio"] {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
}

/* Button */

#calculate-btn {
  width: 100%;
  padding: 15px;
  font-weight: 700;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 25px;
  letter-spacing: 1.2px;
  border: 2px solid #2e2e2e;
  cursor: pointer;
  transition: 0.35s ease-out;
}

#calculate-btn:hover,
#calculate-btn:focus-within {
  background: var(--gradient-color);
  color: #f0f0f0;
}

/* Result section */

.box-container.result {
  min-width: 190px;
}

#info-list {
  list-style: none;
  font-size: 0.85rem;
}

@media (max-width: 768px) {
  main {
    flex-direction: column;
  }
  .box-container {
    margin: 0 auto;
  }
}
